<template>
  <div class="iqiper">
    <Menu/>
    <transition name="slide-route">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Menu from './components/Menu.vue'

export default {
  name: 'App',
  components: {
    Menu,
  }
}
</script>

<style>
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.iqiper {
  width: 100%;
  height: 100%;
  /* background-image: url("./assets/iqiper-logo.png"); */
}

.slide-route-enter-active {
  transition: all .9s ease;
}
.slide-route-leave-active {
  transition: all 1.8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-route-enter, .slide-route-leave-to {
  transform: translateX(100%);
}
body {
  /* background-color:#BDD9BF; */
  background-color:#0D2134;
}
a:link {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  cursor: pointer;
  /* padding-bottom: 1em; */
}
.iqiper-icon {
  padding-left: 10px;
  padding-top: 10px;
  width: 105px;
  height: 105px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 25px;
}
.navbar-background {
  z-index: 99;
  position: fixed;
  background-color: #FFC857;
  width: 110vw;
  height: 83px;
  left: -5vw;
  top: 0vw;
}
.navbar {
  position:fixed;
  display: block;
  top: 0px; 
  left: 0px;
  width: 100vw;
  list-style: none;
}
.page-container {
  padding-top: 100px;
  color: #BDD9BF;
  /* color: #2c3e50; */
  width: 90%;
  margin: auto;
}
.title-container {
  /* color: #0D2134; */
  color: #FFC857;
  padding-bottom: 2em;
  min-height: 3em;
}
.page-title {
  font-size: 5em;
  text-align: end;
  font-weight: normal;
}
.description {
  font-style: normal;
  font-weight: bold;
}
.separateur {
  margin: auto;
  padding-top: 2em;
  width: 80%;
  border-bottom: 2px solid #BDD9BF;
}
@media (max-width: 760px) {
  .navbar-background {
    background-color:#0D2134;
  }
  .navbar {
    top: 35px;
    height: 50px;
  }
}

</style>
