<template>
  <div class="page-container">
    <div class="title-container">
      <div class="page-title">DOC</div>
    </div>
    <div class="documentation">
      <div class="documentation-link_to_project">
        <p> 
        Visionnez le code source sur notre <a href="https://gitlab.com/iqiper" target="_blank">GitLab</a>
        </p>
      </div>
    </div>
    <div class="separateur"> </div>
    <div class="documentation">
      <div class="documentation-link_to_project">
        <p>Un simple formulaire à remplir et réutiliser</p>
      </div>
    <div class="steps-large"> 
      <div class="steps_screen">
        <div class="steps_screen-large">
          <img src="@/assets/screens/templateStepOne.png" alt="app_screenshot"> 
          <img src="@/assets/screens/templateStepTwo.png" alt="app_screenshot"> 
        </div>
        <div class="steps_screen-large">
          <img src="@/assets/screens/templateStepThree.png" alt="app_screenshot"> 
          <img src="@/assets/screens/templateStepFour.png" alt="app_screenshot"> 
        </div>
      </div>
      <div class="presentation_steps">
        <div class="steps-title description">
          1. Créez un modèle d'activité
        </div>
        <div class="steps-description">
          Enregistrez vos réglages de base pour gagner du temps.
          <br/>
          <br/>
        </div>
        <div class="steps-title description">
          2. Personnalisez vos listes d'envoi
        </div>
        <div class="steps-description">
          Choisissez les contacts selon les activités.
          <br/>
          <br/>
        </div>
        <div class="steps-title description">
          3. Rédigez le message d'alerte
        </div>
        <div class="steps-description">
          <br/>
        </div>
        <div class="steps-title description">
          4. Mettez en place les contraintes
        </div>
        <div class="steps-description">
          <span>Début</span>: au bout de combien de temps iqiper commence sa veille après le démarrage de l'activité.
          <br/>
          <span>Fin</span>: au bout de combien de temps après "Début", iqiper finit sa veille et envoie un message si l'activité n'a pas été manuellement arrêtée.
          <br/>
          <span>Rappel</span>: combien de temps avant la fin de l'activité, iqiper vous envoie un rappel pour arrêter l'alerte manuellement.
          <br/>
          <br/>
          Vous pouvez également éditer le message selon la contrainte.
        </div>
      </div>
    </div>
    <div class="steps-small"> 
      <div class="presentation_steps">
      <div class="steps-title description">
        1. Créez un modèle d'activité
      </div>
        <div class="steps-description">
          Enregistrez vos réglages de base pour gagner du temps.
          <br/>
          <br/>
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepOne.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="steps-small">
      <div class="presentation_steps">
      <div class="steps-title description">
        2. Personnalisez vos listes d'envoi
      </div>
        <div class="steps-description">
          Choisissez les contacts selon les activités.
          <br/>
          <br/>
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepTwo.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="steps-small">
      <div class="presentation_steps">
      <div class="steps-title description">
        3. Rédigez le message d'alerte
      </div>
        <div class="steps-description">
          <br/>
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepThree.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="steps-small">
      <div class="presentation_steps">
        <div class="steps-title description">
          4. Mettez en place les contraintes
        </div>
        <div class="steps-description">
          <span>Début</span>: au bout de combien de temps iqiper commence sa veille après le démarrage de l'activité.
          <br/>
          <span>Fin</span>: au bout de combien de temps après "Début", iqiper finit sa veille et envoie un message si l'activité n'a pas été manuellement arrêtée.
          <br/>
          <span>Rappel</span>: combien de temps avant la fin de l'activité, iqiper vous envoie un rappel pour arrêter l'alerte manuellement.
          <br/>
          <br/>
          Vous pouvez également éditer le message selon la contrainte.
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepFour.png" alt="app_screenshot"> 
      </div>
    </div>
  </div>
  <div class="separateur"> </div>
  </div>
</template>

<script>
export default {
  name: 'Documentation',
  props: {
  }
}
</script>

<style scoped>
a {
  font-size: 1.5em;
}
a:link {
  text-decoration: none;
  color: #BDD9BF;
}
a:visited {
  text-decoration: none;
  color: #BDD9BF;
}
span {
  font-weight: bolder;
}
.documentation{
  background-color:#2c3e50;
  border-radius: 15px;
  margin-bottom: 3em;
  padding: 1em;
}
.documentation-link_to_project {
  color: #BDD9BF;
  text-align: center;
  font-size: 1.5em;
  margin: auto;
  width: 50%;
}
.steps-small {
  display: none;
}
.steps-large {
  display: flex;
  flex-direction: column;
  background-color: #BDD9BF;
  /* background-color: #FFC857; */
  /* background-color: #2c3e50; */
  padding: 0.5em;
  border-radius: 15px;
  /* color: #FFC857; */
  color: #0D2134;
  margin: 3em;
  justify-content: center;
  padding: 3em;

}
.steps_screen-large {
  margin: auto;
}
.steps_screen {
  /* background-color: #FFC857; */
  /* background-color: #BDD9BF; */
  border-radius: 15px;
  margin: auto;
  width: -moz-fit-content;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-wrap: wrap;
}
.presentation_steps {
  margin: auto;
  width: 80%;
  margin-top: 2em;
  hyphens: none;
  text-align: justify;
}
.steps-title {
  font-size: 1.6em;
  hyphens: none;
}
.steps-description {
  padding-left: 1.5em;
  font-size: 1.22em;
  hyphens: none;
  color: #2c3e50;
}
@media (max-width: 860px) {
  .steps-large {
    display: none;
  }
  .documentation-link_to_project {
    width: 80%;
    color: #BDD9BF;
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
    margin: auto;
  }
  .steps-small {
    display: flex;
    flex-direction: column;
    background-color: #BDD9BF;
    /* background-color: #FFC857; */
    /* background-color: #2c3e50; */
    padding: 0.5em;
    border-radius: 15px;
    /* color: #FFC857; */
    color: #0D2134;
    justify-content: center;
      margin-top: 2em;
    margin-bottom: 2em;
  }
  .steps_screen {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .presentation_steps {
  }
  .steps-title {
  }
  .steps-description {
    padding-left: 0em;
  }
}
</style>


