<template>
  <div class="page-container">
    <div class="title-container">
      <div class="page-title">FAQ</div>
    </div>
    <div class="presentation">
      <div class="presentation-title">Pour qui, pourquoi ?</div>
      <p> 
        Il y a des moments dans la vie, on l'on aimerait alerter les gens, quand nous ne pouvons pas le faire. Que ce soit sur la route, dans nos caves ou lorsque l'on est saoul dehors... 
<br/>Ces situations plus ou moins dangereuses nous empêchent de notifier nous-mêmes nos proches en cas de problème.
<br/>
<br/>
Et si un ange gardien numérique vous encourageait à respecter les règles que vous vous fixez ?
Et surtout, qu'il veille sur vous en cas de pépins !
      </p>
    </div>
      
    <div class="presentation">
      <div class="presentation-title">Oui, mais comment ?</div>
      <p> 
<span class="description">iquiper </span>
est un projet visant à rendre possible l'<span class="description">envoie de notifications dans le futur, sous certaines conditions</span>. 
<br/>
<br/>
L'utilisateur definit ses propres règles sur l'application mobile. Cette dernière communique avec un serveur qui les vérifie en permanence.
Si l'une d'entre elles n'est pas respectée, une notification est envoyée pour alerter une liste de contacts choisis auparavant.
      </p>
    </div>

    <div class="presentation">
      <div class="presentation-title">Et comment ça se passe, en vrai ?</div>
      <p> 
Un utilisateur peut gérer les informations relatives à son compte. Il peut aussi créer des activités.  
<br/><br/>
<span>Activité</span> est le terme que nous avons choisi pour désigner une liste de contraintes applicables à une situation.
La <span>contrainte</span> désigne une règle que se fixe l'utilisateur. Par exemple un <span>Timer</span> qui délimite une date de début et de fin à l'activité.
<br/><br/>
Si l'activité n'a pas été désactivée manuellement à la fin de l'échéance fixée, une notification sera envoyée aux différents <span>contacts</span> qui auront été préalablement ajouter par l'utilisateur. 
<br/><br/>
Pour des activités récurrentes, l'utilisateur peut créer des modèles d'activités à réutiliser. 
<br/><br/>
Actuellement, le seul type de contrainte disponible est un <span>Timer</span> mais cette liste est susceptible d'évoluer rapidement.
      </p>
    </div>

  </div>
</template>

<script>
export default {
  name: 'FAQ',
  props: {
  }
}
</script>

<style scoped>
p {
  font-size: 1.2em;
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  line-height: 1.5;
}
span {
  color: #FFC857;
  /* color: #FFC857; */
  font-style: italic;
}
.presentation-title {
  background-color:#2c3e50;
  /* color: #BDD9BF; */
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 15px;

}
.presentation{
  color: #BDD9BF;
  padding-bottom: 3em;
}
.presentation{
  /* color: #2c3e50; */
  /* color: #0D2134; */
  width: 90%;
  min-height: 3em;
  margin: auto;
}
/* @media (max-width: 760px) {

} */
</style>