<template>
  <div class="page-container">
    <div class="title-container">
      <div class="page-title">IQIPER</div>
      <div class="presentation">
        <p> 
  <span class="description">iquiper </span>
  est un projet visant à rendre possible l'<span class="description">envoie de notifications dans le futur, sous certaines conditions</span>. 
        </p>
      </div>
    </div>
    <div class="steps">
      <div class="presentation_steps">
      <div class="steps-title description">
        1. Ajoutez des contacts
      </div>
        <div class="steps-description">
            entrez leur adresse email ou directement leur nom d'utilisateur.
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateContacts.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="steps">
      <div class="presentation_steps">
      <div class="steps-title description">
        2. Faites votre vie !
      </div>
        <div class="steps-description">
          Planifiez vos activités et ne vous souciez plus des pépins.
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepDashboard.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="steps">
      <div class="presentation_steps">
        <div class="steps-title description">
          3. Gérez vos alertes simplement
        </div>
        <div class="steps-description">
          Si l'une des contraintes que vous vous êtes fixée n'est pas respectée, une alerte est envoyée à la liste de contacts que vous avez déterminée.
          <br/>
          <br/>
          Visionnez le rapport d'activité pour savoir laquelle, ou envoyez une notification pour dire que tout va bien !
        </div>
      </div>
      <div class="steps_screen">
        <img src="@/assets/screens/templateStepReport.png" alt="app_screenshot"> 
      </div>
    </div>
    <div class="separateur"> </div>
    <div class="presentation temoignages">
      <p> 
        "Je vis seule et j'avais peur de descendre dans ma cave car s'il m'arrivait un problème il n'y a pas de réseau ! Grâce à iqiper, je sais que mon fils sera alerté si je tombe !"
      </p>
      <p class="temoignages_name"> La mère de Francis, utilisatrice </p>
    </div>
    <div class="separateur"> </div>
    <div class="">
      <div class=""></div>
      <p> 
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
  }
}
</script>

<style scoped>
p {
  text-align: justify;
  hyphens: auto;
  word-break: break-word;
  line-height: 1.5;
  font-size: 1.6em;
  color: #BDD9BF;
}
span {
  /* color: #FFC857; */
  color: #FFC857;
  font-style: italic;
}
.presentation {
  color: #FFC857;
  /* color: #BDD9BF; */
  margin-top: 4em;
}
.presentation_steps {
  margin: auto;
  margin-left: 3em;
  margin-right: 3em;
  text-align: justify;
  text-overflow: clip;
  width: 60%;
}
.steps {
  display: flex;
  flex-direction: row;
  /* background-color: #FFC857; */
  background-color: #2c3e50;
  padding: 0.5em;
  border-radius: 15px;
  color: #FFC857;
  /* color: #0D2134; */
  margin: 2em;
  justify-content: center;
}
.steps_screen {
  width: max-content;
  padding: 2em;
  background-color: #FFC857;
  /* background-color: #BDD9BF; */
  border-radius: 15px;
}
.steps-title {
  font-size: 1.6em;
  text-align: left;
}
.steps-description {
  width: 100%;
  padding-top: 1.5em;
  font-size: 1.22em;
  hyphens: none;
  color: #BDD9BF;
}
.temoignages_name {
  font-size: 1.2em;
  text-align: right;
}
.temoignages {
  font-style: italic;
  /* color: #BDD9BF; */
}
@media (max-width: 860px) {
  .steps {
    flex-direction: column;
    margin: 1em;
  }
  .steps_screen {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .presentation_steps {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
  }
}
</style>
