<template>
  <div class="navbar">
    <div class="navbar_mini-menu">
    <div class="icon-menu"> 
      <img @click="show=!show" class="menu_mini-icon" src="@/assets/menu.png"/>
      <div class="menu_mini-item, menu-title, menu_mini-title" @click="pushRoute('/')">IQIPER</div>
      <img class="icon-iqiper" src="@/assets/iqiper-logo.png"/>
    </div>
    </div>
    <div class="menu_mini">
      <transition name="slide-fade">
        <ul class="menu_mini-dropdown" v-if="show">
          <li><div class="menu-mini_item" @click="pushRoute('documentation')">Documentation</div></li>
          <li><div class="menu-mini_item" @click="pushRoute('FAQ')">FAQ</div></li>
          <li><div class="menu-mini_item" @click="pushRoute('us')">Qui sommes nous ?</div></li>
        </ul>
      </transition>
    </div>

    <div class="navbar-background "></div>
    <div class="navbar-items">
      <div class="icon-iqiper"><img class="iqiper-icon" src="@/assets/iqiper-logo.png"/></div>
      <ul class="menu">
        <li><div class="menu_item, menu-title" @click="pushRoute('/')">IQIPER</div></li>
        <li><div class="menu_item" @click="pushRoute('documentation')">Documentation</div></li>
        <li><div class="menu_item" @click="pushRoute('FAQ')">FAQ</div></li>
        <li><div class="menu_item" @click="pushRoute('us')">Qui sommes nous ?</div></li>
      </ul>
    </div>

  </div>

</template>

<script>
export default {
  name: 'Menu',
  props: {
  },
  data () {
    return {
      show: false,
    }
  },
  methods: {
    pushRoute(name) {
      this.$router.push(name)
      this.show= false
    }
  },
  computed: {
  }
}
</script>

<style>
.navbar-items {
  display: flex;
}
.menu {
  z-index: 100;
  position: fixed;
  width: 80%;
  display: flex;
  justify-content: space-between;
  right: 15px;
}
.menu_mini {
  display: none;
}
.menu_mini-dropdown {
  border-bottom: 1px solid #0D2134;
  height: 0px;
  padding-top: -500px;
}
.menu_item {
  display: inline ;
  font-size: 1.3em;
  line-height: 3em ;
  padding: 0em 0em 0em 0em ;
  color:   #3c3c3b;
}
.menu-mini_item {
  display: inline ;
  font-size: 1.3em;
  line-height: 3em ;
  padding: 0em 0em 0em 0em ;
  color:   #FFC857;
}
.icon-menu {
  display: none;
}
.menu_mini-title {
  color: #FFC857;
  width: 100px;
  font-size: 2.0em;
  padding-top: 5px;
  cursor: pointer;
}
.menu-title {
  color: #3c3c3b;
  cursor: pointer;
  font-weight: bolder;
  font-size: 2.0em;
  padding-top: 5px;
}
.menu_mini-icon {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.icon-iqiper {
  width: 65px;
  height: 65px;
  z-index: 101;
}
@media (max-width: 760px) {
  .icon-iqiper {
    justify-content: center;
  }
  .navbar-items {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu_mini-item {
    display: block ;
    color:  #BDD9BF;
  }
  .icon-menu {
    z-index: 101;
    width: 82vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar_mini-menu {
    z-index: 101;
    display: block;
    position:fixed;
    left: 35px;
    top: 20px;
  }
  .menu_mini {
    display: block;
    z-index: 100;
    position: relative;
    top: 25px;
    overflow:hidden;
    text-align: start;
    font-size: 1.3em;
    line-height: 2em ;
    text-decoration: none ;
  }
  .slide-fade-enter-active {
    transition: all 0.4s linear;
  }
  .slide-fade-leave-active {
    transition: all 0.4s linear;
  }
  .slide-fade-leave-to {
      transform: translateY(-100%);
  }
  .menu_mini-dropdown {
    background-color:#0D2134;
    border-bottom: 1px solid #FFC857;
    height: 100%;
    padding: 0 45px;
    padding-top: 1em;

  }
}
</style>
