<template>
  <div class="page-container">
    <div class="NotFound">
        404
        <br/>
        <br/>
        la page que vous cherchez n'existe pas
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFound',
  props: {
  }
}
</script>

<style>
.NotFound {
  padding-top: 3em;
  margin: auto;
  width: 80%;
  height: 80%;
  font-size: 3em;
  color: #BDD9BF;
}
</style>
