<template>
  <div class="page-container">
    <div class="title-container">
      <div class="page-title">TEAM</div>
    </div>
    <div class="us">
    <div class="us_character">
      <div class="us_character-pic">
        <img src="@/assets/fle-roy.png" alt="Avatar"> 
      </div>
      <div class="us_character-text">
        <div class="us_character-name">
          <p> FRANCIS LE ROY </p>
        </div>
        <div class="us_character-desc">
          <p> 
            Bricoleur de code depuis mes 12 ans, j’aime la programmation épurée.
            <br/>
            Faignant pragmatique.
            <br/>
            Adepte du principe de non réinvention de la roue, je suis un fervent défenseur du refactoring efficace.
            <br/>
            Selon moi, le code est comme la prise d’une forteresse : on fait un plan d’attaque avant de commencer afin de ne pas se retrouver acculé au pied du mur.
          </p> 
        </div>
      </div>
    </div>
    <div class="us_character">
      <div class="us_character-pic">
        <img src="@/assets/ehouzard.jpeg" alt="Avatar"> 
      </div>
      <div class="us_character-text">
        <div class="us_character-name">
          <p> EVA HOUZARD </p>
        </div>
        <div class="us_character-desc">
          <p> 
            Éva à intégré l'école 42 en 2017 après un Master a l'École des beaux-arts de Tours.
            <br/>
            Son parcours est semé d'expériences entre art et numérique.
            <br/>
            Plutôt spécialisée dans l'utilisation de framework JS telle que vue ou React, elle est ici développeuse de la partie Client de l'application iqiper prototypée avec Flutter.
          </p> 
        </div>
      </div>
    </div>
    <div class="us_character">
      <div class="us_character-pic">
        <img src="@/assets/acourtin.jpg" alt="Avatar"> 
      </div>
      <div class="us_character-text">
        <div class="us_character-name">
          <p> ALEXANDRE COURTIN </p>
        </div>
        <div class="us_character-desc">
          <p> 
            Après avoir obtenu une licence en informatique, Alexandre a rejoint l'école 42 en 2017.
            <br/>
            Il a acquis de l'expérience en interface UI dans le jeu vidéo et web.
            <br/>
            Il travaille sur la partie Client de l'application iqiper prototypée avec Flutter.
          </p> 
        </div>
      </div>
    </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Us',
  props: {
  }
}
</script>

<style scoped>
.us-2{
  display: flex;
  flex-direction: column;
}
.us_character{
  display: flex;
  flex-direction: row;
  padding-bottom: 3em;
  width: 100%;
  flex-wrap: nowrap;
}
.us_character-pic{
  display: block;
  padding: 2em;
  margin: auto;
}
.us_character-text{
  text-align: left;
  padding: 2em;
  margin: auto;
  width: inherit;
}
.us_character-name{
  font-size: 1.5em;
  color: #FFC857;
}
.us_character-desc{
  font-size: 1.2em;

}
img {
  border-radius: 50%;
}
@media (max-width: 760px) {
  .us_character{
    display: flex;
    flex-direction: column;
  }
  .us_character-name{
    text-align: center;
  }
  .us_character-text{
    text-align: justify;
    width: auto;
  }
}
</style>
